# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\HTL\FLORIAN ADUNKA 2BHIF\HTL\POS\Datenstrukturen\Linked_List\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
